main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.panels{
    grid-column: span 12;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: var(--accent-color);
    
    margin: 0.5rem;
    min-height: 230px;
    /* overflow:visible; */
}

.panels_title{
    text-align: center; 
    margin-bottom: 2rem;
}
p{
    line-height: 1.4 rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
}

#panels-1 .panels-img{
    float: right;
    width: 125px;
    height: 125px; 
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

#panels-2 .panels-img{
    float: left;
    height: 125px; 
    width: 125px; 
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.panels .panels-img img{
    width: 100%;
    height: auto;
    /* aspect-ratio: 1 / 1; */
}

@media (min-width: 44rem) {
 
    .panels{
        margin: 0.5 rem; 
        display: flex;
        flex-direction: row;
    }


    #panels-1 .panels-img{
        float: none;
        max-width: 200px;
        min-width: 180px;  
        width: 30%;
        order: 1;
    }

    #panels-2 .panels-img{
        float: none;
        max-width: 200px;
        min-width: 180px;
        width: 30%;
        margin-top: 2rem;
    }

}