.quokkaAI_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
.quokkaAI{
    grid-column: span 12;
}
  
  /* Heading styles */
.quokkaAI h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
.quokkaAI span {
    color: var(--generator__title__color); /* You can choose your preferred color */
  }
  
.quokkaAI p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Form styles */
.quokkaAI .gen-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.quokkaAI input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--nav__link__color);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  /* Loading indicator styles */
.quokkaAI .loading {
    font-size: 20px;
    margin-top: 20px;
  }
  
/* Result image styles */
  
.quokkaAI .result-image {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Stack the image and button vertically */
  align-items: center; /* Center content horizontally */
}

.quokkaAI img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin between the image and button */
}

/* Download button styles */
.quokkaAI button {
  background-color: var(--generator__button__color); /* You can choose your preferred color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.quokkaAI .error--no-input{
  margin-bottom: 1rem;
  color: var(--warning__color);
}
.quokkaAI .error--no-quota{
  margin-bottom: 1rem;
  color: var(--warning__color);
}

.quokkaAI button:hover {
  background-color: var(--generator__button__hover__color); /* You can choose your preferred hover color */
}